@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.no-padding-right{
  padding-right: 0;
}

.no-padding-left{
  padding-left: 0;
}
