.recipes .recipes-container {
  display: flex;
  align-items: center;

  &> div{
    margin-right: 30px;
  }

  app-recipe-card{
    width: 30%;
  }
}

.shopping-button{
  padding: 20px 0;
  text-align: center;
}
